@font-face {
    font-family: "MADE Outer Sans";
    src        : url("/fonts/MADEOuterSans/MADE\ Outer\ Sans\ Bold\ PERSONAL\ USE.otf") format("opentype");

}

@font-face {
    font-family: "MADE Outer Sanss";
    src        : url("/fonts/MADEOuterSans/MADE\ Outer\ Sans\ Outline\ Thin\ PERSONAL\ USE.otf") format("opentype");
}

@font-face {
    font-family: "Morganite";
    src        : url("/fonts/Morganite/Morganite-Bold.ttf") format("opentype");
}


